@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --nav : #b7c57c; 
    --menuBg : #f8f8f8;
    --menuItems : #d8dd9f; 
    --projectBttn : rgb(241, 213, 113);
    --projectItems : rgb(241, 213, 113);
    --projectHeading : #f4f5e2;
    --todoItem : #f7f7f7;
    --todoBorder : #858956;
    --tickColour : rgb(68, 115, 68);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Times, serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.12fr 1fr;
    overflow: hidden;
}

nav{
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    justify-content:space-around;
    align-items: center;
    background: var(--nav);
}

h1{
    font-size: 2rem;
}

.icon{
    width: 4vh;
    height: 3.2vh;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

nav > div{
    background:url("./images/menu.svg");
}

nav > button{
    border:none;
    background:url("./images/plus.svg");
}

.displayBoard{
    display: grid;
    grid-template-columns: 30vw 1fr;
    overflow: auto;
}

.menu{
    grid-row:1/-1;
    background-color: var(--menuBg);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    overflow: auto;
}

.menu-items{
    padding: 1rem;
    text-align: center;
    width: clamp(90px, 60%, 500px);
    font-size: clamp(12px, 2vw, 20px);
    background-color: var(--menuItems);
    border-radius: 10px;
    cursor: pointer;
}

.menu-items:hover{
    box-shadow: 3px 3px 4px #333;
}

.project{
    background-color: var(--projectBttn);
}

.project-items{
    width: clamp(80px, 50%, 400px);
    background: var(--projectItems);
    padding: 10px;
    outline: none;
    border: none;
    word-wrap: break-word;
}

.todo-section{
    grid-row:1/-1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, auto));
    gap: 10px;
    padding:2vw;
    overflow: auto;
}

.todoQuery{
    height: 50px;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.1fr 3fr repeat(3,0.1fr);
    gap : 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-left : 5px solid var(--todoBorder);
    background-color: var(--todoItem);
}

.todoElem{
    border: none;
    background-color: inherit;
    font-size: clamp(14px, 2vw, 20px);
    outline: none;
}

.task{
    width: clamp(80px, 100%, 100%);
}

.bttn {
    -webkit-appearance: none;
    appearance: none;
    background-color: inherit;
    margin: 0;
    width: 1.3em;
    height: 1.3em;
    border: 0.1em solid var(--todoBorder);
    border-radius: 0.5em;
    display: grid;
    place-content: center;
}

.bttn::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--tickColour);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.bttn:checked::before {
    transform: scale(1);
}

.delBox{
    display: none;
}

.del{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: url("./images/delete.svg") no-repeat center center; 
    background-size: contain; 
    cursor: pointer; 
}

.heading-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    width: 50%;
    background-color: var(--projectHeading);
    border-radius: 10px;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.project-heading{
    font-size: clamp(15px, 2vw, 22px);
    font-weight: 500;
}