@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, Times, serif;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

nav{
    padding: 1rem;
    display: grid;
    grid-auto-flow: column;
    justify-content:space-around;
    align-items: center;
    background: #eecece;
    border-bottom: 5px solid #333;
}

h1{
    font-size: 2rem;
}

.icon{
    width: 4vh;
    height: 3.2vh;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

nav > div{
    background:url("./images/menu.svg");
}

nav > button{
    border:none;
    background:url("./images/plus.svg");
}

.displayBoard{
    display: grid;
    grid-template-columns: 30vw 1fr;
}

.menu{
    grid-row:1/-1;
    background-color: #f9fcff;
    border-right:2px dashed #333;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5vh;
}

.menu-items{
    padding: 1rem;
    text-align: center;
    width: 180px;
    font-size: larger;
    background-color: #f7e5e3;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 1px #333;
}

.menu-items:hover{
    box-shadow: 3px 3px 4px #333;
}

.todo-section{
    /* height: 90vh; */
    display: grid;
    overflow: auto;
    padding: 10px;
}
